main{
    width: max-content;
    margin: 0 auto;
    text-align: left;
}

hr{
    width: 200px;
}
.blauw{
    color: blue;
}
.onderlijnd{
    text-decoration: underline;
}
.rood{
    color: red;
}
.paars{
    color: purple;
}
.oranje{
    color: orange;
}
.moreSize{
    font-size: 30px;
}
.inline{
    display: inline;
}
#hotpink{
    color: hotpink;
}

